<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160817542708-3sian53jcvj8t9ocek1980i3fh9lj9jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160817542708-3sian53jcvj8t9ocek1980i3fh9lj9jb</string>
	<key>API_KEY</key>
	<string>AIzaSyCyHN-4UixImiFHOvhVzkrt5tuoY9Bywl0</string>
	<key>GCM_SENDER_ID</key>
	<string>160817542708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hkiotsolution.com</string>
	<key>PROJECT_ID</key>
	<string>pumplink-smart-pump-controller</string>
	<key>STORAGE_BUCKET</key>
	<string>pumplink-smart-pump-controller.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160817542708:ios:50201df085a2e010b13c61</string>
	<key>DATABASE_URL</key>
	<string>https://pumplink-smart-pump-controller-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>